.leaflet-container {
    width: 100vw;
    height: 100vh;
    z-index: 0 !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-4px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.2s ease-out;
}
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
