@import "leaflet-control-geocoder/dist/Control.Geocoder.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
